ion-content{
    --background: linear-gradient(	#00008B, #6A5ACD);

}
h1{
    color: white;

}

img{
    height: 200px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
}
.Formulario{
    align-content: center;
}
.msg{
    text-align: center;
    color: white;

}
p{
    margin-right: 1%;
}
u{
    margin-right: 1%;
}